@viewport{
zoom:1.0;
width: extend-to-zoom;
}
@-ms-viewport{
width: extend-to-zoom;
zoom:1.0;
}


body{
min-height: 100%;
width:100%;
padding:0;
margin:0;
font-family: Calibri;
text-align: center;
text-align-last: center;
background-color: #6AB187;
margin:auto;
}

h1{
margin:0.5% 1% 1% 1%;
text-align: center;
color: darkcyan;
text-shadow: 0.5px 0.5px gray;
box-shadow: 1px 1px lightgray;
background-color: whitesmoke;
border-radius:5%;
}

#cargas{
width:15%;
height:15%;
text-decoration: none;
margin:auto;
}

#fatura{
margin:auto;
width:25%;
height:25%;
text-decoration: none;
}

#c{
width:100px;
height:100px;
margin:auto;
text-align: center;
}
#f{
width:100px;
height:100px;
margin:auto;
text-align: center;
}

.LOL{
background-color: whitesmoke;
margin:auto;
width:100px;
height:100px;
}